.toastList {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 1rem;
}

.toast {
  display: flex;
  flex-direction: column;
  border-radius: 0.4rem;
  z-index: 999;
  padding: 0 0.8rem;
  animation: toastSliding 0.3s;
  box-shadow: var(--shadow-base);
  cursor: pointer;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0;

    &__text {
      font-size: large;
      color: white;
    }

    &__close {
      margin-left: 1rem;
      color: white;
    }
  }

  &:hover {
    box-shadow: var(--shadow-card);
  }

  &__livetime {
    display: flex;
  }
}

@keyframes toastSliding {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
